nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2% 5%;
}

nav ul{
    display: flex;
    padding: 0;
}

nav li{
    display: block;
    padding-left: 80px;
}

li a{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #FF6060;
    cursor: pointer;
}

nav ul .active{
    text-decoration: underline;
}

.header__logo{
    width: 210px;
    height: 70px;
}