body {
  margin: auto;
  max-width: 1440px;
  font-family: 'Montserrat', Arial, sans-serif;
}



@import './components/Banner.css';
@import './components/Collapse.css';
@import './components/Cards.css';
@import './components/Header.css';
@import './components/Footer.css';

@import './pages/About.css';
@import './pages/Home.css';
@import './pages/Error.css';
